In [124]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error,r2_score

In [125]:
train=pd.read_csv("train.csv.zip")

In [126]:
train.head()

,Year_Factor,State_Factor,building_class,facility_type,floor_area,year_built,energy_star_rating,ELEVATION,january_min_temp,january_avg_temp,...,days_above_80F,days_above_90F,days_above_100F,days_above_110F,direction_max_wind_speed,direction_peak_wind_speed,max_wind_speed,days_with_fog,site_eui,id
0,1,State_1,Commercial,Grocery_store_or_food_market,61242.0,1942.0,11.0,2.4,36,50.5,...,14,0,0,0,1.0,1.0,1.0,NaN,248.682615,0
1,1,State_1,Commercial,Warehouse_Distribution_or_Shipping_center,274000.0,1955.0,45.0,1.8,36,50.5,...,14,0,0,0,1.0,NaN,1.0,12.0,26.500150,1
2,1,State_1,Commercial,Retail_Enclosed_mall,280025.0,1951.0,97.0,1.8,36,50.5,...,14,0,0,0,1.0,NaN,1.0,12.0,24.693619,2
3,1,State_1,Commercial,Education_Other_classroom,55325.0,1980.0,46.0,1.8,36,50.5,...,14,0,0,0,1.0,NaN,1.0,12.0,48.406926,3
4,1,State_1,Commercial,Warehouse_Nonrefrigerated,66000.0,1985.0,100.0,2.4,36,50.5,...,14,0,0,0,1.0,1.0,1.0,NaN,3.899395,4

In [127]:
nullValues=train.isnull().sum()
nullValues

Year_Factor                      0
State_Factor                     0
building_class                   0
facility_type                    0
floor_area                       0
                             ...
direction_peak_wind_speed    41811
max_wind_speed               41082
days_with_fog                45796
site_eui                         0
id                               0
Length: 64, dtype: int64

In [128]:
nullValues[nullValues>0]

year_built                    1837
energy_star_rating           26709
direction_max_wind_speed     41082
direction_peak_wind_speed    41811
max_wind_speed               41082
days_with_fog                45796
dtype: int64

In [129]:
train['year_built'].mode()

0    1927.0
dtype: float64

In [130]:
train['year_built'].fillna(train['year_built'].median(),inplace=True)
train['energy_star_rating'].fillna(train['energy_star_rating'].median(),inplace=True)
train['direction_max_wind_speed'].fillna(train['direction_max_wind_speed'].median(),inplace=True)
train['direction_peak_wind_speed'].fillna(train['direction_peak_wind_speed'].median(),inplace=True)
train['days_with_fog'].fillna(train['days_with_fog'].median(),inplace=True)
train['max_wind_speed'].fillna(train['max_wind_speed'].median(),inplace=True)

In [131]:
nullValues=train.isnull().sum()
nullValues

Year_Factor                  0
State_Factor                 0
building_class               0
facility_type                0
floor_area                   0
                            ..
direction_peak_wind_speed    0
max_wind_speed               0
days_with_fog                0
site_eui                     0
id                           0
Length: 64, dtype: int64

In [132]:
train['State_Factor'].unique()

array(['State_1', 'State_2', 'State_4', 'State_6', 'State_8', 'State_10',
       'State_11'], dtype=object)

In [133]:
train['building_class'].unique()

array(['Commercial', 'Residential'], dtype=object)

In [134]:
train['facility_type'].unique()

array(['Grocery_store_or_food_market',
       'Warehouse_Distribution_or_Shipping_center',
       'Retail_Enclosed_mall', 'Education_Other_classroom',
       'Warehouse_Nonrefrigerated', 'Warehouse_Selfstorage',
       'Office_Uncategorized', 'Data_Center', 'Commercial_Other',
       'Mixed_Use_Predominantly_Commercial',
       'Office_Medical_non_diagnostic', 'Education_College_or_university',
       'Industrial', 'Laboratory',
       'Public_Assembly_Entertainment_culture',
       'Retail_Vehicle_dealership_showroom', 'Retail_Uncategorized',
       'Lodging_Hotel', 'Retail_Strip_shopping_mall',
       'Education_Uncategorized', 'Health_Care_Inpatient',
       'Public_Assembly_Drama_theater', 'Public_Assembly_Social_meeting',
       'Religious_worship', 'Mixed_Use_Commercial_and_Residential',
       'Office_Bank_or_other_financial', 'Parking_Garage',
       'Commercial_Unknown', 'Service_Vehicle_service_repair_shop',
       'Service_Drycleaning_or_Laundry', 'Public_Assembly_Recreation',
       'Service_Uncategorized', 'Warehouse_Refrigerated',
       'Food_Service_Uncategorized', 'Health_Care_Uncategorized',
       'Food_Service_Other', 'Public_Assembly_Movie_Theater',
       'Food_Service_Restaurant_or_cafeteria', 'Food_Sales',
       'Public_Assembly_Uncategorized', 'Nursing_Home',
       'Health_Care_Outpatient_Clinic', 'Education_Preschool_or_daycare',
       '5plus_Unit_Building', 'Multifamily_Uncategorized',
       'Lodging_Dormitory_or_fraternity_sorority',
       'Public_Assembly_Library', 'Public_Safety_Uncategorized',
       'Public_Safety_Fire_or_police_station', 'Office_Mixed_use',
       'Public_Assembly_Other', 'Public_Safety_Penitentiary',
       'Health_Care_Outpatient_Uncategorized', 'Lodging_Other',
       'Mixed_Use_Predominantly_Residential', 'Public_Safety_Courthouse',
       'Public_Assembly_Stadium', 'Lodging_Uncategorized',
       '2to4_Unit_Building', 'Warehouse_Uncategorized'], dtype=object)

In [135]:
train['State_Factor'].value_counts()

State_6     50840
State_11     6412
State_1      5618
State_2      4871
State_4      4300
State_8      3701
State_10       15
Name: State_Factor, dtype: int64

In [136]:
from sklearn.preprocessing import OrdinalEncoder

In [137]:
State_Factor=['State_1','State_2','State_4','State_6','State_8','State_10','State_11']

In [138]:
stateOrdi=OrdinalEncoder(categories=[State_Factor])

In [139]:
stateOrdi.fit(train[['State_Factor']])

OrdinalEncoder(categories=[['State_1', 'State_2', 'State_4', 'State_6',
                            'State_8', 'State_10', 'State_11']])

In [140]:
StateOrdi=stateOrdi.transform(train[['State_Factor']])

In [141]:
building_class=['Commercial','Residential']

In [142]:
buildingOrdi=OrdinalEncoder(categories=[building_class])

In [143]:
buildingOrdi.fit(train[['building_class']])

OrdinalEncoder(categories=[['Commercial', 'Residential']])

In [144]:
BuildingOrdi=buildingOrdi.transform(train[['building_class']])

In [145]:
train['State_Factor']=StateOrdi
train['building_class']=BuildingOrdi

In [146]:
train.head()

,Year_Factor,State_Factor,building_class,facility_type,floor_area,year_built,energy_star_rating,ELEVATION,january_min_temp,january_avg_temp,...,days_above_80F,days_above_90F,days_above_100F,days_above_110F,direction_max_wind_speed,direction_peak_wind_speed,max_wind_speed,days_with_fog,site_eui,id
0,1,0.0,0.0,Grocery_store_or_food_market,61242.0,1942.0,11.0,2.4,36,50.5,...,14,0,0,0,1.0,1.0,1.0,104.0,248.682615,0
1,1,0.0,0.0,Warehouse_Distribution_or_Shipping_center,274000.0,1955.0,45.0,1.8,36,50.5,...,14,0,0,0,1.0,1.0,1.0,12.0,26.500150,1
2,1,0.0,0.0,Retail_Enclosed_mall,280025.0,1951.0,97.0,1.8,36,50.5,...,14,0,0,0,1.0,1.0,1.0,12.0,24.693619,2
3,1,0.0,0.0,Education_Other_classroom,55325.0,1980.0,46.0,1.8,36,50.5,...,14,0,0,0,1.0,1.0,1.0,12.0,48.406926,3
4,1,0.0,0.0,Warehouse_Nonrefrigerated,66000.0,1985.0,100.0,2.4,36,50.5,...,14,0,0,0,1.0,1.0,1.0,104.0,3.899395,4

In [147]:
train.facility_type.value_counts().to_dict()

{'Multifamily_Uncategorized': 39455,
 'Office_Uncategorized': 12512,
 'Education_Other_classroom': 3860,
 'Lodging_Hotel': 2098,
 '2to4_Unit_Building': 1893,
 'Commercial_Other': 1744,
 '5plus_Unit_Building': 1273,
 'Warehouse_Nonrefrigerated': 1255,
 'Retail_Uncategorized': 1130,
 'Education_College_or_university': 1056,
 'Nursing_Home': 772,
 'Education_Uncategorized': 709,
 'Mixed_Use_Commercial_and_Residential': 672,
 'Lodging_Dormitory_or_fraternity_sorority': 669,
 'Warehouse_Distribution_or_Shipping_center': 604,
 'Warehouse_Selfstorage': 577,
 'Grocery_store_or_food_market': 448,
 'Office_Medical_non_diagnostic': 447,
 'Health_Care_Inpatient': 409,
 'Religious_worship': 399,
 'Industrial': 384,
 'Warehouse_Uncategorized': 330,
 'Mixed_Use_Predominantly_Commercial': 256,
 'Parking_Garage': 251,
 'Office_Bank_or_other_financial': 173,
 'Public_Assembly_Library': 160,
 'Public_Safety_Fire_or_police_station': 157,
 'Public_Assembly_Other': 142,
 'Service_Vehicle_service_repair_shop': 138,
 'Retail_Enclosed_mall': 120,
 'Retail_Strip_shopping_mall': 113,
 'Warehouse_Refrigerated': 113,
 'Public_Assembly_Entertainment_culture': 110,
 'Education_Preschool_or_daycare': 108,
 'Laboratory': 107,
 'Commercial_Unknown': 95,
 'Public_Assembly_Social_meeting': 88,
 'Lodging_Other': 75,
 'Retail_Vehicle_dealership_showroom': 74,
 'Public_Assembly_Recreation': 72,
 'Food_Sales': 70,
 'Public_Assembly_Drama_theater': 70,
 'Service_Uncategorized': 68,
 'Food_Service_Restaurant_or_cafeteria': 64,
 'Health_Care_Outpatient_Clinic': 56,
 'Health_Care_Uncategorized': 51,
 'Public_Safety_Uncategorized': 43,
 'Public_Assembly_Movie_Theater': 39,
 'Public_Safety_Courthouse': 38,
 'Public_Safety_Penitentiary': 37,
 'Health_Care_Outpatient_Uncategorized': 36,
 'Data_Center': 27,
 'Public_Assembly_Uncategorized': 25,
 'Food_Service_Uncategorized': 18,
 'Office_Mixed_use': 18,
 'Food_Service_Other': 17,
 'Mixed_Use_Predominantly_Residential': 9,
 'Service_Drycleaning_or_Laundry': 9,
 'Public_Assembly_Stadium': 9,
 'Lodging_Uncategorized': 5}

In [148]:
facility_type_freq=train.facility_type.value_counts().to_dict()

In [149]:
train.facility_type=train.facility_type.map(facility_type_freq)

In [150]:
train.head()

,Year_Factor,State_Factor,building_class,facility_type,floor_area,year_built,energy_star_rating,ELEVATION,january_min_temp,january_avg_temp,...,days_above_80F,days_above_90F,days_above_100F,days_above_110F,direction_max_wind_speed,direction_peak_wind_speed,max_wind_speed,days_with_fog,site_eui,id
0,1,0.0,0.0,448,61242.0,1942.0,11.0,2.4,36,50.5,...,14,0,0,0,1.0,1.0,1.0,104.0,248.682615,0
1,1,0.0,0.0,604,274000.0,1955.0,45.0,1.8,36,50.5,...,14,0,0,0,1.0,1.0,1.0,12.0,26.500150,1
2,1,0.0,0.0,120,280025.0,1951.0,97.0,1.8,36,50.5,...,14,0,0,0,1.0,1.0,1.0,12.0,24.693619,2
3,1,0.0,0.0,3860,55325.0,1980.0,46.0,1.8,36,50.5,...,14,0,0,0,1.0,1.0,1.0,12.0,48.406926,3
4,1,0.0,0.0,1255,66000.0,1985.0,100.0,2.4,36,50.5,...,14,0,0,0,1.0,1.0,1.0,104.0,3.899395,4

In [151]:
train['Year_Factor'].value_counts()

6    22449
5    18308
4    12946
3    10879
2     9058
1     2117
Name: Year_Factor, dtype: int64

In [152]:
#train.drop({[''], axis=1, inplace=True)

In [153]:
train.columns

Index(['Year_Factor', 'State_Factor', 'building_class', 'facility_type',
       'floor_area', 'year_built', 'energy_star_rating', 'ELEVATION',
       'january_min_temp', 'january_avg_temp', 'january_max_temp',
       'february_min_temp', 'february_avg_temp', 'february_max_temp',
       'march_min_temp', 'march_avg_temp', 'march_max_temp', 'april_min_temp',
       'april_avg_temp', 'april_max_temp', 'may_min_temp', 'may_avg_temp',
       'may_max_temp', 'june_min_temp', 'june_avg_temp', 'june_max_temp',
       'july_min_temp', 'july_avg_temp', 'july_max_temp', 'august_min_temp',
       'august_avg_temp', 'august_max_temp', 'september_min_temp',
       'september_avg_temp', 'september_max_temp', 'october_min_temp',
       'october_avg_temp', 'october_max_temp', 'november_min_temp',
       'november_avg_temp', 'november_max_temp', 'december_min_temp',
       'december_avg_temp', 'december_max_temp', 'cooling_degree_days',
       'heating_degree_days', 'precipitation_inches', 'snowfall_inches',
       'snowdepth_inches', 'avg_temp', 'days_below_30F', 'days_below_20F',
       'days_below_10F', 'days_below_0F', 'days_above_80F', 'days_above_90F',
       'days_above_100F', 'days_above_110F', 'direction_max_wind_speed',
       'direction_peak_wind_speed', 'max_wind_speed', 'days_with_fog',
       'site_eui', 'id'],
      dtype='object')

In [154]:
firstQ=(train['january_avg_temp']+train['february_avg_temp']+train['march_avg_temp'])/4
SecondQ=(train['april_avg_temp']+train['may_avg_temp']+train['june_avg_temp'])/4
thirdQ=(train['july_avg_temp']+train['august_avg_temp']+train['september_avg_temp'])/4
fourthQ=(train['october_avg_temp']+train['november_avg_temp']+train['december_avg_temp'])/4

In [155]:
dropped=['january_min_temp','january_max_temp','february_min_temp','february_max_temp',
       'march_min_temp','march_max_temp', 'april_min_temp',
       'april_max_temp', 'may_min_temp',
       'may_max_temp', 'june_min_temp','june_max_temp',
       'july_min_temp', 'july_max_temp', 'august_min_temp',
       'august_max_temp', 'september_min_temp',
       'september_max_temp', 'october_min_temp',
        'october_max_temp', 'november_min_temp',
       'november_max_temp', 'december_min_temp',
       'december_max_temp']
train.drop(dropped, axis=1, inplace=True)

In [156]:
train.drop(['id'], axis=1, inplace=True)

In [157]:
train.drop(['days_above_110F','days_above_100F','days_above_90F','days_below_20F','days_below_10F'], axis=1, inplace=True)

In [158]:
train.drop(['january_avg_temp', 'february_avg_temp', 'march_avg_temp',
       'april_avg_temp', 'may_avg_temp', 'june_avg_temp', 'july_avg_temp',
       'august_avg_temp', 'september_avg_temp', 'october_avg_temp',
       'november_avg_temp', 'december_avg_temp'], axis=1, inplace=True)

In [159]:
train.drop(['days_below_0F'], axis=1, inplace=True)

In [160]:
train.drop(['direction_peak_wind_speed'],axis=1,inplace=True)
train.drop(['snowdepth_inches'],axis=1,inplace=True)

In [161]:
train['firstQ']=firstQ
train['secondQ']=SecondQ
train['thirdQ']=thirdQ
train['fourthQ']=fourthQ

In [162]:
train.head()

,Year_Factor,State_Factor,building_class,facility_type,floor_area,year_built,energy_star_rating,ELEVATION,cooling_degree_days,heating_degree_days,...,days_below_30F,days_above_80F,direction_max_wind_speed,max_wind_speed,days_with_fog,site_eui,firstQ,secondQ,thirdQ,fourthQ
0,1,0.0,0.0,448,61242.0,1942.0,11.0,2.4,115,2960,...,0,14,1.0,1.0,104.0,248.682615,38.695709,43.21371,47.384274,41.522581
1,1,0.0,0.0,604,274000.0,1955.0,45.0,1.8,115,2960,...,0,14,1.0,1.0,12.0,26.500150,38.695709,43.21371,47.384274,41.522581
2,1,0.0,0.0,120,280025.0,1951.0,97.0,1.8,115,2960,...,0,14,1.0,1.0,12.0,24.693619,38.695709,43.21371,47.384274,41.522581
3,1,0.0,0.0,3860,55325.0,1980.0,46.0,1.8,115,2960,...,0,14,1.0,1.0,12.0,48.406926,38.695709,43.21371,47.384274,41.522581
4,1,0.0,0.0,1255,66000.0,1985.0,100.0,2.4,115,2960,...,0,14,1.0,1.0,104.0,3.899395,38.695709,43.21371,47.384274,41.522581

In [189]:
x = train.drop('site_eui',axis=1)
y = train['site_eui']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

In [190]:
#Create a Gaussian Classifier
clf=RandomForestRegressor(n_estimators=200)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,Y_train)

y_pred=clf.predict(X_test)

In [191]:
r2 = r2_score(Y_test,y_pred)
mse = mean_squared_error(Y_test,y_pred)
rmse = np.sqrt(mse)

print(r2)
print(mse)
print(rmse)

0.5158648182187355
1715.6975221340542
41.42097925126897

In [84]:
train.columns

Index(['Year_Factor', 'State_Factor', 'building_class', 'facility_type',
       'floor_area', 'year_built', 'energy_star_rating', 'ELEVATION',
       'cooling_degree_days', 'heating_degree_days', 'precipitation_inches',
       'snowfall_inches', 'avg_temp', 'days_below_30F', 'days_above_80F',
       'direction_max_wind_speed', 'max_wind_speed', 'days_with_fog',
       'site_eui', 'firstQ', 'secondQ', 'thirdQ', 'fourthQ'],
      dtype='object')

In [85]:
feat=[i for i in X.columns]
imp=pd.Series(clf.feature_importances_,index=feat).sort_values()
imp

max_wind_speed              0.002927
direction_max_wind_speed    0.003283
cooling_degree_days         0.006072
Year_Factor                 0.006235
avg_temp                    0.006415
thirdQ                      0.006896
fourthQ                     0.008974
days_above_80F              0.009723
heating_degree_days         0.009821
days_below_30F              0.009899
precipitation_inches        0.013281
snowfall_inches             0.013355
State_Factor                0.014722
secondQ                     0.015232
days_with_fog               0.017953
building_class              0.018499
firstQ                      0.023209
ELEVATION                   0.033341
year_built                  0.140398
energy_star_rating          0.193804
facility_type               0.197334
floor_area                  0.248626
dtype: float64

In [163]:
x_test=pd.read_csv("test.csv.zip")

In [164]:
x_test.head()

,Year_Factor,State_Factor,building_class,facility_type,floor_area,year_built,energy_star_rating,ELEVATION,january_min_temp,january_avg_temp,...,days_below_0F,days_above_80F,days_above_90F,days_above_100F,days_above_110F,direction_max_wind_speed,direction_peak_wind_speed,max_wind_speed,days_with_fog,id
0,7,State_1,Commercial,Grocery_store_or_food_market,28484.0,1994.0,37.0,2.4,38,50.596774,...,0,29,5,2,0,NaN,NaN,NaN,NaN,75757
1,7,State_1,Commercial,Grocery_store_or_food_market,21906.0,1961.0,55.0,45.7,38,50.596774,...,0,29,5,2,0,NaN,NaN,NaN,NaN,75758
2,7,State_1,Commercial,Grocery_store_or_food_market,16138.0,1950.0,1.0,59.1,38,50.596774,...,0,29,5,2,0,NaN,NaN,NaN,NaN,75759
3,7,State_1,Commercial,Grocery_store_or_food_market,97422.0,1971.0,34.0,35.4,38,50.596774,...,0,29,5,2,0,NaN,NaN,NaN,NaN,75760
4,7,State_1,Commercial,Grocery_store_or_food_market,61242.0,1942.0,35.0,1.8,38,50.596774,...,0,29,5,2,0,340.0,330.0,22.8,126.0,75761

In [165]:
xnullValues=x_test.isnull().sum()
xnullValues

Year_Factor                     0
State_Factor                    0
building_class                  0
facility_type                   0
floor_area                      0
                             ...
direction_max_wind_speed     8575
direction_peak_wind_speed    8575
max_wind_speed               8575
days_with_fog                9117
id                              0
Length: 63, dtype: int64

In [166]:
xnullValues[xnullValues>0]

year_built                     92
energy_star_rating           2254
direction_max_wind_speed     8575
direction_peak_wind_speed    8575
max_wind_speed               8575
days_with_fog                9117
dtype: int64

In [167]:
x_test['year_built'].fillna(x_test['year_built'].median(),inplace=True)
x_test['energy_star_rating'].fillna(x_test['energy_star_rating'].median(),inplace=True)
x_test['direction_max_wind_speed'].fillna(x_test['direction_max_wind_speed'].median(),inplace=True)
x_test['direction_peak_wind_speed'].fillna(x_test['direction_peak_wind_speed'].median(),inplace=True)
x_test['days_with_fog'].fillna(x_test['days_with_fog'].median(),inplace=True)
x_test['max_wind_speed'].fillna(x_test['max_wind_speed'].median(),inplace=True)

In [168]:
x_test['State_Factor'].value_counts()

State_11    3268
State_4     2568
State_2     1515
State_8     1323
State_1     1027
State_10       4
Name: State_Factor, dtype: int64

In [169]:
State_Factor=['State_1','State_2','State_4','State_8','State_10','State_11']
xstateOrdi=OrdinalEncoder(categories=[State_Factor])
xstateOrdi.fit(x_test[['State_Factor']])
xStateOrdi=xstateOrdi.transform(x_test[['State_Factor']])

In [170]:
x_test['building_class'].value_counts()

Commercial     5607
Residential    4098
Name: building_class, dtype: int64

In [171]:
building_class=['Commercial','Residential']
xbuildingOrdi=OrdinalEncoder(categories=[building_class])
xbuildingOrdi.fit(x_test[['building_class']])
xBuildingOrdi=xbuildingOrdi.transform(x_test[['building_class']])

In [172]:
x_test.facility_type.value_counts().to_dict()

{'Multifamily_Uncategorized': 2199,
 'Office_Uncategorized': 1919,
 '2to4_Unit_Building': 966,
 'Education_Other_classroom': 890,
 '5plus_Unit_Building': 685,
 'Lodging_Hotel': 367,
 'Commercial_Other': 325,
 'Retail_Uncategorized': 225,
 'Education_College_or_university': 202,
 'Mixed_Use_Commercial_and_Residential': 193,
 'Warehouse_Uncategorized': 157,
 'Nursing_Home': 151,
 'Grocery_store_or_food_market': 135,
 'Religious_worship': 125,
 'Warehouse_Nonrefrigerated': 110,
 'Office_Medical_non_diagnostic': 100,
 'Lodging_Dormitory_or_fraternity_sorority': 99,
 'Warehouse_Distribution_or_Shipping_center': 94,
 'Warehouse_Selfstorage': 80,
 'Health_Care_Inpatient': 76,
 'Mixed_Use_Predominantly_Commercial': 50,
 'Industrial': 47,
 'Laboratory': 44,
 'Retail_Strip_shopping_mall': 37,
 'Parking_Garage': 37,
 'Retail_Enclosed_mall': 33,
 'Public_Assembly_Recreation': 26,
 'Office_Bank_or_other_financial': 23,
 'Commercial_Unknown': 23,
 'Warehouse_Refrigerated': 21,
 'Public_Assembly_Entertainment_culture': 20,
 'Food_Sales': 19,
 'Public_Assembly_Library': 17,
 'Food_Service_Restaurant_or_cafeteria': 17,
 'Public_Safety_Uncategorized': 16,
 'Service_Uncategorized': 15,
 'Public_Assembly_Social_meeting': 14,
 'Public_Assembly_Drama_theater': 14,
 'Public_Assembly_Movie_Theater': 13,
 'Retail_Vehicle_dealership_showroom': 12,
 'Education_Uncategorized': 12,
 'Service_Vehicle_service_repair_shop': 9,
 'Public_Safety_Penitentiary': 8,
 'Public_Assembly_Uncategorized': 8,
 'Public_Safety_Fire_or_police_station': 8,
 'Lodging_Other': 8,
 'Public_Assembly_Other': 7,
 'Public_Safety_Courthouse': 5,
 'Health_Care_Outpatient_Clinic': 5,
 'Mixed_Use_Predominantly_Residential': 5,
 'Lodging_Uncategorized': 5,
 'Health_Care_Outpatient_Uncategorized': 4,
 'Data_Center': 4,
 'Food_Service_Uncategorized': 4,
 'Office_Mixed_use': 4,
 'Public_Assembly_Stadium': 3,
 'Food_Service_Other': 3,
 'Education_Preschool_or_daycare': 3,
 'Health_Care_Uncategorized': 2,
 'Service_Drycleaning_or_Laundry': 2}

In [173]:
xfacility_type_freq=x_test.facility_type.value_counts().to_dict()

In [174]:
x_test.facility_type=x_test.facility_type.map(xfacility_type_freq)

In [175]:
x_test['State_Factor']=xStateOrdi
x_test['building_class']=xBuildingOrdi

In [176]:
firstQ=(x_test['january_avg_temp']+x_test['february_avg_temp']+x_test['march_avg_temp'])/4
SecondQ=(x_test['april_avg_temp']+x_test['may_avg_temp']+x_test['june_avg_temp'])/4
thirdQ=(x_test['july_avg_temp']+x_test['august_avg_temp']+x_test['september_avg_temp'])/4
fourthQ=(x_test['october_avg_temp']+x_test['november_avg_temp']+x_test['december_avg_temp'])/4

In [177]:
dropped=['january_min_temp','january_max_temp','february_min_temp','february_max_temp',
       'march_min_temp','march_max_temp', 'april_min_temp',
       'april_max_temp', 'may_min_temp',
       'may_max_temp', 'june_min_temp','june_max_temp',
       'july_min_temp', 'july_max_temp', 'august_min_temp',
       'august_max_temp', 'september_min_temp',
       'september_max_temp', 'october_min_temp',
        'october_max_temp', 'november_min_temp',
       'november_max_temp', 'december_min_temp',
       'december_max_temp']
x_test.drop(dropped, axis=1, inplace=True)

In [178]:
x_test.drop(['id'], axis=1, inplace=True)

In [179]:
x_test.drop(['days_above_110F','days_above_100F','days_above_90F','days_below_20F','days_below_10F'], axis=1, inplace=True)

In [180]:
x_test.drop(['january_avg_temp', 'february_avg_temp', 'march_avg_temp',
       'april_avg_temp', 'may_avg_temp', 'june_avg_temp', 'july_avg_temp',
       'august_avg_temp', 'september_avg_temp', 'october_avg_temp',
       'november_avg_temp', 'december_avg_temp'], axis=1, inplace=True)
x_test.drop(['days_below_0F'], axis=1, inplace=True)
x_test.drop(['direction_peak_wind_speed'],axis=1,inplace=True)
x_test.drop(['snowdepth_inches'],axis=1,inplace=True)

In [181]:
x_test['firstQ']=firstQ
x_test['secondQ']=SecondQ
x_test['thirdQ']=thirdQ
x_test['fourthQ']=fourthQ

In [182]:
x_test.head()

,Year_Factor,State_Factor,building_class,facility_type,floor_area,year_built,energy_star_rating,ELEVATION,cooling_degree_days,heating_degree_days,...,avg_temp,days_below_30F,days_above_80F,direction_max_wind_speed,max_wind_speed,days_with_fog,firstQ,secondQ,thirdQ,fourthQ
0,7,0.0,0.0,135,28484.0,1994.0,37.0,2.4,342,2112,...,59.894521,0,29,330.0,18.3,129.0,40.5036,45.625806,49.969892,43.532661
1,7,0.0,0.0,135,21906.0,1961.0,55.0,45.7,342,2112,...,59.894521,0,29,330.0,18.3,129.0,40.5036,45.625806,49.969892,43.532661
2,7,0.0,0.0,135,16138.0,1950.0,1.0,59.1,342,2112,...,59.894521,0,29,330.0,18.3,129.0,40.5036,45.625806,49.969892,43.532661
3,7,0.0,0.0,135,97422.0,1971.0,34.0,35.4,342,2112,...,59.894521,0,29,330.0,18.3,129.0,40.5036,45.625806,49.969892,43.532661
4,7,0.0,0.0,135,61242.0,1942.0,35.0,1.8,342,2112,...,59.894521,0,29,340.0,22.8,126.0,40.5036,45.625806,49.969892,43.532661

In [183]:
x_train=train.drop('site_eui',axis=1)
y_train=train['site_eui']
#no split

In [184]:
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)

In [186]:
solution=pd.read_csv('sample_solution.csv')

In [187]:
solution['site_eui']=y_pred

In [188]:
solution.to_csv('solution1.csv')